---
heading: Slack Slash Commands as a Service
subheading: Making Slack better since some time early 2015
show_github: true
---

{% include header.html %}

<h3>What is SSCaaS?</h3>
<p>It's the new "aaS" thing! Only this time we're making <a href="https://slack.com/">Slack</a> even better! No, we didn't think that was possible either.  The goal is to make it easy to extend the functionality of Slack and provide useful tools and API integrations through slash commands.</p>

<h3>What's currently available?</h3>
<p>At the moment SSCaaS has the following slash commands available:</p>

<ul>
    <li>
        <a href="/plugins/define/">Dictionary lookup</a>
    </li>
    <li>
        <a href="/plugins/excuse/">Developer Excuses</a>
    </li>
    <li>
        <a href="/plugins/reddit/">Reddit linker</a>
    </li>
    <li>
        <a href="/plugins/sing/">Sing</a>
    </li>
    <li>
        <a href="/plugins/uptime/">Site availability checker</a>
    </li>
    <li>
        <a href="/plugins/soundcloud/">SoundCloud track finder</a>
    </li>
    <li>
        <a href="/plugins/troutslap/">Troutslap</a>
    </li>
    <li>
        <a href="/plugins/urbandictionary/">Urban Dictionary lookup</a>
    </li>
</ul>

<h3>Great! How do I get started?</h3>
<p>The first thing you'll need to do is <a href="https://slack.com/services/new/incoming-webhook">create an Incoming Webhook</a> which will allow SSCaaS to post messages into your Slack instance in response to slash commands.</p>
<p>You should be given a Webhook URL, keep a hold of this as you'll need it later.</p>
<p>The next step is to <a href="https://slack.com/services/new/slash-commands">add a Slash Command</a>. The URL and setup will vary based on which command you would like to use, click the links above for the full instructions for each command.</p>


<h3>I think you should have X in SSCaaS.</h3>
<p>I probably agree! Feel free to <a href="https://github.com/danielsamuels/sscaas/issues">open an issue</a> on the project or, even better, a Pull Request!</p>

<h3>I don't trust you, I want to self-host this.</h3>
<p>Go for it!  You should be able to simply <code>go get</code> the package and install it without any issues.  I use nginx and supervisor to handle the HTTP requests and maintain the process, you can find the configuration scripts inside the <a href="https://github.com/danielsamuels/sscaas/tree/master/server-files">server-files/</a> directory.</p>

<h3>Why are you using a .eu TLD?</h3>
<p>Because it was &pound;1.99 and this is only a hobby project (also, the .com is taken).</p>

<h3>Where is this hosted?</h3>
<p>It's currently hosted on a London based <a href="https://www.digitalocean.com/?refcode=0155fe23fcff">Digital Ocean</a> droplet and sitting behind Cloudflare, this should allow it to scale reasonably well.</p>

<h3>Shut up and take my money!</h3>
<p>This is a completely free service, but <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=3UGZL6JMKCGSW">any donations</a> are gratefully received.</p>

{% include footer.html %}
