<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <title>Slack Slash Commands as a Service by danielsamuels</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" media="screen">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/stylesheets/github-light.css" media="screen">
    </head>
    <body>
        <section class="page-header">
            <h1 class="project-name">{{ page.heading }}</h1>
            <h2 class="project-tagline">{{ page.subheading }}</h2>
            {% if page.show_github %}
                <a href="https://github.com/danielsamuels/sscaas" class="btn">View on GitHub</a>
            {% endif %}

            {% if page.show_back %}
                <a href="/" class="btn">Return to homepage</a>
            {% endif %}

            <a href="https://twitter.com/danielsamuels/" class="btn">Send abuse on Twitter</a>
        </section>

        <section class="main-content">
